.ilist{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
}

.example-center{
    text-align: center;
}
div {
    margin-left: auto;
    margin-right: auto;
}
.test{
    height:100%
}
.titre{
    padding-top: 30%;
    text-align: center;
}
.nom{
    text-align: center;
    padding-bottom: 50%;
   
}
.labelC{
    color: #36454F;
}
.inputBorder{
    border-bottom: 2px solid #3880ff;
    border-left: 2px solid #3880ff;
    border-right: 2px solid #3880ff;
    border-radius: 5px;
    text-align: center;
    width: 210px;
}