.tabContent{
    padding-top: 50px;
  }
  .courseTitle{
    font-size:16px;
  }

  .courseImage{
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .courseImageInternal{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 14px;
  }
  .courseDescInternal{
    padding:20px;
  }
  .courseRequest{
    width: 50px;
  }
